@page "/acesso-negado"

<div class="row">
    <div class="col-12">
        <div class="card-body flex-column">
            <div class="text-center mt-2">
                <span class="text-danger fw-bolder">Você não tem permissão para acessar essa página</span>
            </div>
        </div>
    </div>
</div>